.institucional{
    background-color: var(--branco);
    text-align: center;
    padding-top: 1rem;
}

.institucional__titulo{
    font-family: var(--montserrat);
    font-size: 1.5rem;
    padding: 1.7rem 0;
    text-transform: uppercase;
    color: var(--cinza-escuro);
}

.institucional__texto{
    color: var(--fonte-cinza);
    padding: 1.5rem 0;
}

.institucional__endereco{
    font-size: 1.5rem;
    color: var(--fonte-cinza);
}

.institucional__contato-telefone{
    margin-top: 2rem;
}

.institucional__contato{
    margin-top: 2rem;
    font-size: 1.2rem;
}

.institucional__contato-telefone{
    color: var(--fonte-cinza);
    margin-bottom: .8rem;
    display: inline-block;
}

.institucional__video{
    width: 100%;
    margin: 2rem 0;
}


@media screen and (min-width: 768px) {
    .institucional__video{
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .institucional__conteudo{
        display: flex;
        justify-content: space-around;
        padding: 1.3rem;
    }

    .institucional__video{
        width: 400px;
    }
}


